Navbar{
    .container1{
        flex-direction: column;
        align-items: center;
        .container2{
            width: 80;
            padding-top: 7;
            padding-bottom: 10;
            .container3{
                width: 80;
                padding-top: 7;
                padding-bottom: 10;
            }
        }
    }        
    .triangle{
        border-top-width: 5;
        border-left-width: 5;
        border-right-width: 5;
        border-top-color: orange;
        border-left-color: transparent;
        border-right-color: transparent;
        background-color: transparent;
    }
}
.b{
    border:none;
    .c{
        color:red;
    }
}